/.metadata/
/.sonarlint/
/sftp/.settings/
/sftp/.classpath
/sftp/.project
/s3/.settings/
/s3/.classpath
/s3/.project
/netsuite-restlet-connectivity/.settings/
/netsuite-restlet-connectivity/.classpath
/netsuite-restlet-connectivity/.project
/cloudfront-signedurl-generator/.settings/
/cloudfront-signedurl-generator/.classpath
/cloudfront-signedurl-generator/.project